/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eceff1;
  padding: 10px;
}

.main__search, .sort, .main__movies {
  margin: 5px;
  background: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__left-column {
  width: 30%;
}

.main .main__right-column {
  width: 70%;
  background: #fff;
  margin-top: 5px;
}

.main .main__right-column .main__search, .main .main__right-column .main__movies {
  width: 100%;
  margin-left: 0;
}

.movie {
  border: #aaa 1px solid;
  margin: 10px;
  padding: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie .movie__photo {
  height: 150px;
  margin-right: 10px;
}

.movie .movie__desc {
  padding: 0 10px;
  font-size: 13px;
  width: 100%;
}

.movie .movie__desc .movie__desc--title {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.movie .movie__desc .movie__desc--text {
  padding-bottom: 10px;
}

.movie .movie__desc .movie__desc--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choice {
  cursor: pointer;
  margin-top: 16px;
  opacity: 0;
  position: absolute;
}

.choice + .choice__label {
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  line-height: 20px;
  padding: 4px 0;
  padding-left: 28px;
  position: relative;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

.choice + .choice__label:active {
  background-color: #fff;
  border-radius: 2px;
  opacity: .3;
}

.choice + .choice__label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 20px;
  margin-left: -28px;
  margin-right: 8px;
  min-width: 20px;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
  vertical-align: top;
}

.choice + .choice__label:hover:before,
.choice:hover + .choice__label:before {
  border-color: #767676;
}

.choice + .choice__label:hover:before,
.choice:checked + .choice__label:before,
.choice:hover + .choice__label:before {
  border-width: 2px;
}

.choice + .choice__label:after {
  background: transparent;
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.choice--radio + .choice__label:after {
  border-radius: 50%;
  height: 8px;
  left: 6px;
  top: 10px;
  width: 8px;
}

.choice--radio:checked + .choice__label:after {
  background: #1bb826;
}

.choice:checked + .choice__label:before {
  border-color: #1bb826;
}

.choice--radio + .choice__label:before {
  border-radius: 50%;
}

.filter__input {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  -webkit-transition: border-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  vertical-align: top;
  -moz-appearance: none;
  -ms-text-size-adjust: 100%;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222;
  height: 40px;
  line-height: 21px;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  width: 100%;
}

.filter {
  background: #fff;
  padding: 8px;
  margin-top: 5px;
}

.filter__input:focus,
.filter__input:hover {
  border-color: #767676;
  -webkit-box-shadow: 0 0 0 1px #767676;
          box-shadow: 0 0 0 1px #767676;
}

.sort {
  padding: 10px;
  margin-left: 0;
}

.sort__options {
  list-style-type: none;
  padding-left: 8px;
  margin: 8px;
}

.sort__header {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 8px 0;
}

.button {
  -moz-appearance: none;
  -ms-text-size-adjust: 100%;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 21px;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  background: #ff5a00;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button:active {
  background: #ff9c66;
}

.button:focus,
.button:hover {
  background: #ff7b33;
}

@media only screen and (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__left-column {
    width: 100%;
  }
  .main .main__left-column .sort {
    margin: 5px 0;
  }
  .main .main__right-column {
    width: 100%;
  }
  .main .main__right-column .main__movies {
    margin-top: 0;
  }
  .main .movie__desc--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */